gradio
gdown
fastapi
python-multipart
spaces==0.19.4
diffusers==0.25.1
torch==2.0.0
torchvision==0.15.1
transformers==4.37.1
huggingface-hub==0.24.0
accelerate
safetensors
xformers
einops
onnxruntime-gpu
omegaconf
peft
opencv-python
insightface
controlnet_aux
