diffusers==0.25.1
torch==2.0.0
torchvision==0.15.1
transformers==4.37.1
huggingface-hub==0.24.0
spaces==0.19.4
accelerate
safetensors
einops
onnxruntime-gpu
omegaconf
peft
opencv-python
insightface
gradio
controlnet_aux
gdown